<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" style="font-weight: bold;" href="#">Welcome to the {{ title }} <i class="fa fa-globe"></i> </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" style="">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>

<div style="text-align:center">
  <h1>
    
  </h1>
  <img width="100" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
  <h2>ALL USERS </h2>
</div>

<div class="row" >
    <div class="col-sm-12">
        <table class="table table-striped table-nonfluid">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">ID</th>
                <th scope="col">FirstName</th>
                <th scope="col">Surname</th>
                <th scope="col">Age</th>
                <th scope="col">Gender</th>
                <th scope="col">Friends</th>
                <th scope="col">Friends Of Friends</th>
                <th scope="col">Suggested Friends</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of users; let i = index" [attr.data-index]="i">
                <th scope="row">{{i+1}}</th>
                <td>{{item.id}}</td>
                <td>{{item.firstName}}</td>
                <td>{{item.surname}}</td>
                <td>{{item.age}}</td>
                <td>{{item.gender}}</td>
                <td> <button class="btn btn-lg btn-outline-primary" (click)="openFriends(content,item.id)">{{item.friends.length}}</button></td>
                <td> <button class="btn btn-lg btn-outline-primary" (click)="openFriendsOfFriends(content,item.id)">GET</button></td>
                <td> <button class="btn btn-lg btn-outline-primary" (click)="openSuggestedFriends(content,item.id)">GET</button></td>

              </tr>
            </tbody>
          </table>
    </div>
</div>


<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">{{ searched }}</h4>
    </div>
    <div class="modal-body">
      <ul>
        <li *ngFor="let item of friends;">{{item.id}}# <b>{{item.surname}} {{item.firstName}}</b></li>
      </ul>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
    </div>
  </ng-template>
